#aboutus
  .container
    .section_header
      %h3 VATEUD PTD Pilot's Library
    .row#contact
      .center
        .span6.contact 
          %p VATEUD PTD P1 Training Presentation  
          .span4.submit
            .right
              = button_to "Read the document", "/library/p1_presentation", :method => :get
        .span6.contact 
          %p VATEUD PTD P2 Training Presentation  
          .span4.submit
            .right
              = button_to "Read the document", "/library/p2_presentation", :method => :get