#aboutus
  .container
    .section_header
      %h3 VATEUD PTD P2 Training Presentation  
    .row
      .span12
        .center
          <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/139342740/content?start_page=1&view_mode=slideshow&access_key=key-27aqn0u386pf6ynwp2sf" data-auto-height="true" data-aspect-ratio="1.33234859675037" scrolling="no" id="doc_61818" width="900" height="null" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>