#aboutus
  .container
    .section_header
      %h3 Enroll in the VATEUD pilot training program
    .row
      .span12.intro
        = render :partial => "flash", :locals => { :flash => flash }

        #enroll
          = render 'form'

    .row
      %p.ptddocs.center= link_to "Read the PTD documentation", "http://vateud.net/training-department/pilot-td-aim"    
        
