.row
  %h2.center Enroll in the VATEUD pilot training program
  
  = render :partial => "flash", :locals => { :flash => flash }

  #enroll

    = render 'form'

.row
  %p.center= link_to "Read the PTD documentation", "http://vateud.net/training-department/pilot-td-aim"