<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @pilot.instructor.name %></h1>
    <p>
      Examination feedback was sent to your trainee <%= @pilot.name %> regarding his practical examination performance.
    </p>
    <p>
      Feedback: <br /><br />
      <%= @pilot.examination_feedback %>
    </p>
        
    <p>Have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>