<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @pilot.name %></h1>
    <p>
      A token re-issue request has been sent on your behalf to the VATEUD PTD staff.
    </p>
    <p>
      You'll receive a notification as soon as your new token is issued.
    </p> 
    <p>
      You can always check the history and details of your personal record
      at the following address:
      <a href="http://ptd.vateud.net/pilots/<%=@pilot.slug %>">http://ptd.vateud.net/pilots/<%=@pilot.slug %></a>      
    </p>
    <p>Good luck and have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>