<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @pilot.name %></h1>
    <p>
      As part of your <%= @pilot.rating.name %> training within VATEUD PTD you have been issued
      a theoretical exam token, which means you are now allowed to sit your <%= @pilot.rating.name %> written test.<br/>
    </p>
    <p>
      In order to do that please go to <a href="http://www.atsimtest.com/">www.atsimtest.com</a> and
      log in with your VATSIM credentials. Then click on the <strong>"My Status"</strong> link and look at the
      "Opportunities" section: you'll see there's a <%= @pilot.rating.name %> test waiting there for you.
      After completing the test your results will be evaluated and recorded by our staff and you will
      continue your further training in preparation for your practical examination.
    </p>
    <p>Good luck and have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>