<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @pilot.name %></h1>
    <p>
      This is a confirmation that you have successfully upgraded to <%= @pilot.rating.name %>
      rating after your training within VATEUD PTD!.<br/>
    </p>
    <p>
      Congratulations and blue skies!
    </p>
    <p>Have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>