<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <p>
      Dear Pilot, 
    </p> 
    <p> 
      We received your application for the VATEUD PTD. We would like to inform 
      you that since you are not member of the VATEUD division we are unable to make 
      the theoretical test via the ATSimTest online platform which is used as normal 
      procedure. There is a possibility to make the theoretical test using Skype or 
      Teamspeak conducting to an oral examination process. 
    </p> 
    <p> 
      We also recommend that other ATO’s that probably will fit on your region 
      adopting common procedures. You can check the currents ATO’s via this website: 
      http://linksmanager.com/vatsimvas/authorised-training-organisation.html 
    </p> 
    <p> 
      If you want to continue the training process with us we are glad to help but 
      you have to personally email vateud3@vateud.net or vateud11@vateud.net in 
      order to schedule the theoretical test. 
    </p>
    <p>  
      Yours Sincerely, 
    </p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>