@import "bootstrap";

.clear { clear:both; }
.center {text-align:center;}

#login {width:235px; min-height:230px;margin-left:auto;margin-right:auto;padding-top:40px;padding-left:40px; padding-right:40px; padding-bottom:10px;background:#E0E6EE;border:1px solid gray; margin-top:70px;}
#enroll {width:400px; min-height:430px;margin-left:auto;margin-right:auto;padding-top:40px;padding-left:40px; padding-right:40px; padding-bottom:10px;background:#E0E6EE;border:1px solid gray; margin-top:40px;}
.rememberme {float:left;}
.rememberme label {display:inline; color:gray; }
.rememberme input {float:right; display:inline;margin-left:20px;}

.form-horizontal .control-label {text-align: left; font-weight: bold; color:#004661;}
#enroll p label {text-align: left; font-weight: bold; color: #004661; width: 150px; display:inline; float:left;}

p#notice {
   font-weight: bold;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   margin-bottom: 18px;
   padding: 12px 25px 12px 24px;
   -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
   -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
   box-shadow: 3px 3px 1px 1px #CCCCCC;
   background-color: #66E167;
   border-color: #D6E9C6;
   width: 380px;
   color: black;
   padding-top: 20px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#flash {width:400px;margin-left: auto; margin-right: auto;}